:root {
    /*warna tema */
    --color-primary-black: #000000;
    --color-primary-pink: #FFC0CB;
    --color-accent: #FF69B4;

    /* warna teks */
    --color-text-dark: var(--color-primary-black);
    --color-text-light: #FFFFFF;

    /* jarak global */
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 32px;
    --spacing-xl: 64px;
}

body {
    font-family: 'Poppings', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-primary-black);
    background-color: var(--color-text-light);
    margin: 0; 
    padding: 0;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: var(--spacing-m);
    line-height: 1.0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-m);
}

a {
    color: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
}

.section-padding {
    padding-top: var(--spacing-xl);  
    padding-bottom: var(--spacing-xl); 
}