* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-pink: #FFC0CB;
    --color-primary-black: #000000;
    --color-accent-blue: #00BFFF;
    --color-text-dark: #333333;
    --color-text-white: #ffffff;
    --color-bg-white: #ffffff;

    --font-heading: 'Bebas Neue', sans-serif;
    --font-heading: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--color-bg-white);
}

a { 
    color: var(--colort-accent-blue);
    text-decoration: none;
}

h1 {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    color: var(--color-primary-black);
}

h2 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    color: var(--color-primary-black);
    margin-bottom: 40px;
    text-align: center;
}