
.project-card {
    background-color: white;
    border: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.btn-primary {
    display: inline-block;
    background-color: var(--color-accent-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
    font-weight: bold;
}

.category-tags {
    margin-bottom: 15px;
}

.badge {
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    padding: 2px 8px 2px 2px;
    border-radius: 4px;
    margin-right: 8px;
    text-transform: uppercase;
}

.badge::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: currentColor;
}

.ui-design-color {
    color: #ff6733;
}

.web-dev-color {
    color: #008080;
}

.digistock-color{
    color: #8a2be2;
}