* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


ul, ol {
    list-style: none;
}

a {
    color: var(--color-accent); 
    text-decoration: none; 
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}