@import url('_base.css');
@import url('_components.css');
@import url('_layout.css');
@import url('_reset.css');

.hero-section h1 {
    letter-spacing: 5px; 
}

footer {
    padding-top: 40px;
    border-top: 1px solid var(--color-primary-pink);
}