@import url('_reset.css'); 
@import url('_base.css');
@import url('_component.css');
@import url('_layout.css');

.section-padding {
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.project-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.8rem;
    }

    .project-list-container {
        grid-template-columns: 1fr;
    }
}